@page
@model UsersModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>
<h1>Uživatelé</h1>
<p>
    <a asp-page="Create">Zaregistrovat nového uživatele</a>
</p>
<table id="users" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].osobni_cislo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].vychozi_VM)
            </th>
            <th>
                Funkce
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijmeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.osobni_cislo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vychozi_VM.nazev)
            </td>
            <td>
                <a asp-page="./EditRole" asp-route-id="@item.osobni_cislo">Upravit</a> |
                <a asp-page="./Delete" asp-route-id="@item.osobni_cislo">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    new DataTable('#users', {
        language: {
            url: '//cdn.datatables.net/plug-ins/2.0.4/i18n/cs.json',
        },
        initComplete: function () {
            this.api()
                .columns()
                .every(function () {
                    let column = this;

                    // Create select element
                    let select = document.createElement('select');
                    select.add(new Option(''));
                    column.footer().replaceChildren(select);

                    // Apply listener for user change in value
                    select.addEventListener('change', function () {
                        column
                            .search(select.value, { exact: true })
                            .draw();
                    });

                    // Add list of options
                    column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.add(new Option(d));
                        });
                });
        }
    });
</script>
