@page
@model UsersModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].jmeno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].prijmeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].osobni_cislo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijmeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.osobni_cislo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}
    </tbody>
</table>
