@page
@model Jopp_lunch.Pages.Soups.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Soup[0].popis_obeda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soup[0].datum_vydeje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soup[0].datum_pridani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soup[0].datum_editace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Soup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.popis_obeda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum_vydeje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum_pridani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum_editace)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.polevkaId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.polevkaId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.polevkaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
