@page
@model Jopp_lunch.Pages.Choices.HotModel
@{
}
<div class="text-left">
    <div class="row justify-content-left">
        <h1 style="font-weight: bold;" class="display-4">Týdenní menu</h1>
        <!--<div class="btn-group" style="width:27rem; margin:0.25rem;">
            <button type="button" class="btn btn-primary">Předchozí</button>
            <button type="button" class="btn btn-outline-primary" style="pointer-events: none; color:black;">@Model.Thisweek</button>
            <button type="button" class="btn btn-primary">Nadcházející</button>
        </div>-->
       @foreach (var sps in Model.Soup){
        <div class="card" style="">
            <div class="card-header">
                    <h2>@sps.datum_vydeje.ToString("dddd dd.MM.yyyy").ToUpper()</h2>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => sps.popis_obeda)</li>
                @foreach(var lns in Model.Lunch.Where(x=>x.datum_vydeje.Day==sps.datum_vydeje.Day)){
                <li class="list-group-item">
                            @Html.DisplayFor(modelItem => lns.popis_obeda)
                    <div class="btn-group btn-group-sm" style="">
                        <a asp-page-handler="RemoveLunch" asp-route-id="@lns.cislo_obeda" class="btn btn-xs btn-outline-secondary">
                            <b>-</b>
                        </a>
                                <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">@if (@Model.Choices.Where(x => x.obedId == lns).FirstOrDefault() == null)
                                    {
                                        <text>0</text>
                                    }
                                    else
                                    {
                                        @Model.Choices.Where(x => x.obedId == lns).FirstOrDefault().pocet
                                    }
                                </button>
                                <a asp-page-handler="AddLunch" asp-route-id="@lns.cislo_obeda" class="btn btn-xs btn-outline-success">
                            <b>+</b>
                        </a>
                    </div>
                            <!--<button type="button" class="btn btn-xs btn-outline-dark" style="color:black; margin:5px" >Jopp VM</button>-->
                </li>
                }
            </ul>
        </div>
       }
    </div>
</div>