
@page 
@model Jopp_lunch.Pages.Choices.HotModel
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        if (localStorage.getItem("my_app_name_here-quote-scroll") != null) {
            $(window).scrollTop(localStorage.getItem("my_app_name_here-quote-scroll"));
        }

        $(window).on("scroll", function () {
            localStorage.setItem("my_app_name_here-quote-scroll", $(window).scrollTop());
        });

    });
</script>
<div class="text-left">
    <div class="row justify-content-left">
        <h1 style="font-weight: bold;" class="display-4">Týdenní menu - Teplá strava</h1>
        @foreach (var sps in Model.Soup.Where(sp => sp.datum_vydeje < Model.lockdate))
        {
            <div class="card" style="">
                <div class="card-header">
                    <h2>@sps.datum_vydeje.ToString("dddd dd.MM.yyyy").ToUpper() <a asp-page-handler="ZmenaVM" asp-route-vm="@Model._VydejniMista.Where(x => x.datum_vydeje.Date == @sps.datum_vydeje.Date).FirstOrDefault().Canteen" asp-route-id="@sps.datum_vydeje.ToString("dd.MM.yyyy")" class="btn btn-warning">@Model._VydejniMista.Where(x => x.datum_vydeje.Date == @sps.datum_vydeje.Date).FirstOrDefault().Canteen</a></h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => sps.popis_obeda)</li>
                    @foreach (var lns in Model.Lunch.Where(x => x.datum_vydeje.Day == sps.datum_vydeje.Day))
                    {
                        <li class="list-group-item">
                            @Html.DisplayFor(modelItem => lns.popis_obeda)
                            <div class="text-right">
                                <div class="btn-group btn-group-sm" style="">
                                    <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">
                                        @if (@Model.Choices.Where(x => x.obedId == lns).FirstOrDefault() == null)
                                        {
                                            <text>0</text>
                                        }
                                        else
                                        {
                                            @Model.Choices.Where(x => x.obedId == lns).FirstOrDefault().pocet
                                        }
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        @foreach (var sps in Model.Soup.Where(sp => sp.datum_vydeje >= Model.lockdate))
       {
        <div class="card" style="">
            <div class="card-header">
                    <h2>@sps.datum_vydeje.ToString("dddd dd.MM.yyyy").ToUpper() <a asp-page-handler="ZmenaVM" asp-route-vm="@Model._VydejniMista.Where(x => x.datum_vydeje.Date == @sps.datum_vydeje.Date).FirstOrDefault().Canteen" asp-route-id="@sps.datum_vydeje.ToString("dd.MM.yyyy")" class="btn btn-warning">@Model._VydejniMista.Where(x => x.datum_vydeje.Date == @sps.datum_vydeje.Date).FirstOrDefault().Canteen</a></h2>
            </div>
            <ul class="list-group list-group-flush">
                    <li class="list-group-item">@Html.DisplayFor(modelItem => sps.popis_obeda)</li>
                @foreach(var lns in Model.Lunch.Where(x=>x.datum_vydeje.Day==sps.datum_vydeje.Day)){
                <li class="list-group-item">
                    @Html.DisplayFor(modelItem => lns.popis_obeda)
                    <div class="text-right">
                        <div class="btn-group btn-group-sm" style="">
                            <a asp-page-handler="RemoveLunch" asp-route-id="@lns.cislo_obeda" class="btn btn-xs btn-outline-secondary">
                                <b>-</b>
                            </a>
                                <button type="button" class="btn btn-xs btn-outline-dark" style="pointer-events: none; color:black;">@if (@Model.Choices.Where(x => x.obedId == lns).FirstOrDefault() == null)
                                    {
                                        <text>0</text>
                                    }
                                    else
                                    {
                                        @Model.Choices.Where(x => x.obedId == lns).FirstOrDefault().pocet
                                    }
                                </button>
                            <a asp-page-handler="AddLunch" asp-route-id="@lns.cislo_obeda" class="btn btn-xs btn-outline-success">
                                <b>+</b>
                            </a>
                        </div>
                    </div>
                </li>
                }
            </ul>
        </div>
       }
    </div>
</div>
