@page
@model Jopp_lunch.Pages.Choices.ListModel

@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Choice[0].pocet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Choice) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pocet)
            </td>
            <td>
                    <!--<a asp-page="./Edit" asp-route-id="@item.cislo_vyberu">Edit</a> |-->
                <a asp-page="./Detail" asp-route-id="@item.cislo_vyberu">Details</a> 
                    <!--<a asp-page="./Delete" asp-route-id="@item.cislo_vyberu">Delete</a>-->
            </td>
        </tr>
}
    </tbody>
</table>
