@page
@model Jopp_lunch.Pages.Choices.ListHotModel

@{
    ViewData["Title"] = "List-Hot";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.4/css/dataTables.dataTables.css"/>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>
<h1>Seznam výběrů</h1>

<a href="#" class="btn btn-warning" id="print" onclick="printContent('Printit')">Tisk</a>

<div class="container" id="Printit">
<table id="vybery" class="display">
    <thead>
        <tr>
            <th>Osobní číslo</th>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Celkový počet obědů</th>
            <th>počet M1</th>
            <th>M2</th>
            <th>M3</th>
            <th>M4</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.vybery_view) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jmeno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prijmeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celkem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m4)
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<script type="text/javascript">
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }

new DataTable('#vybery', {
        language: {
            url: '//cdn.datatables.net/plug-ins/2.0.4/i18n/cs.json',
        },
    initComplete: function () {
        this.api()
            .columns()
            .every(function () {
                let column = this;

                // Create select element
                let select = document.createElement('select');
                select.add(new Option(''));
                column.footer().replaceChildren(select);

                // Apply listener for user change in value
                select.addEventListener('change', function () {
                    column
                        .search(select.value, {exact: true})
                        .draw();
                });

                // Add list of options
                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.add(new Option(d));
                    });
            });
    }
});
</script>