@model Jopp_lunch.Model.DbEntities.Lunch

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Lunch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.popis_obeda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.popis_obeda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum_vydeje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum_vydeje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum_pridani)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum_pridani)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum_editace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum_editace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.cislo_obeda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
